.box {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 20px 20px 69px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 30px;
  margin-top: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.currencyBox {
  width: 48%;
}

.info {
  font-size: 14px;
  margin-top: 20px;
}

.error {
  font-size: 14px;
  margin-top: 20px;
  background: #b64545;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.price {
  padding: 3px;
  display: inline-block;
  background: #21274d14;
  border-radius: 3px;
}